body{
    background-color: #235389;
}
/* main body */
.main {
    width: 900px;
    height: 600px;
    background-color: #0fb5eb;

   margin: 3px auto;
}

.titleName{
    text-align: center;
    line-height: 50px;
    font-style: italic;
    color: #235389;
}
.information{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

p {
    text-indent: 1em; /* 2个空格的宽度 */
    color: skyblue;
}

.information .block{
    display: block;
    width: 250px;
    height: 271px;
    background-color: #235389;
    margin-bottom: 15px;
    margin-right: 36px;
    list-style-type: none;
}

h3{
    text-align: center;
    font-style: oblique;
    color: skyblue;
}
ol li{
    color: skyblue;
}

a {
    text-decoration: none;
    text-align: center;
    color: skyblue;
    font-weight: bold;
}
